In [66]:
!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install seaborn
!pip install plotly
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly as ptl
import plotly.plotly as py
from plotly.graph_objs import *
import plotly.graph_objs as go

Requirement already satisfied: pandas in ./anaconda3/lib/python3.6/site-packages
Requirement already satisfied: python-dateutil>=2 in ./anaconda3/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: pytz>=2011k in ./anaconda3/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: numpy>=1.9.0 in ./anaconda3/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.6/site-packages (from python-dateutil>=2->pandas)
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Requirement already satisfied: numpy in ./anaconda3/lib/python3.6/site-packages
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Requirement already satisfied: matplotlib in ./anaconda3/lib/python3.6/site-packages
Requirement already satisfied: numpy>=1.7.1 in ./anaconda3/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: six>=1.10 in ./anaconda3/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: python-dateutil>=2.1 in ./anaconda3/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: pytz in ./anaconda3/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: cycler>=0.10 in ./anaconda3/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in ./anaconda3/lib/python3.6/site-packages (from matplotlib)
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Requirement already satisfied: seaborn in ./anaconda3/lib/python3.6/site-packages
Requirement already satisfied: numpy in ./anaconda3/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: scipy in ./anaconda3/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: matplotlib in ./anaconda3/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: pandas in ./anaconda3/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: six>=1.10 in ./anaconda3/lib/python3.6/site-packages (from matplotlib->seaborn)
Requirement already satisfied: python-dateutil>=2.1 in ./anaconda3/lib/python3.6/site-packages (from matplotlib->seaborn)
Requirement already satisfied: pytz in ./anaconda3/lib/python3.6/site-packages (from matplotlib->seaborn)
Requirement already satisfied: cycler>=0.10 in ./anaconda3/lib/python3.6/site-packages (from matplotlib->seaborn)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in ./anaconda3/lib/python3.6/site-packages (from matplotlib->seaborn)
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Requirement already satisfied: plotly in ./anaconda3/lib/python3.6/site-packages
Requirement already satisfied: six in ./anaconda3/lib/python3.6/site-packages (from plotly)
Requirement already satisfied: requests in ./anaconda3/lib/python3.6/site-packages (from plotly)
Requirement already satisfied: nbformat>=4.2 in ./anaconda3/lib/python3.6/site-packages (from plotly)
Requirement already satisfied: pytz in ./anaconda3/lib/python3.6/site-packages (from plotly)
Requirement already satisfied: decorator>=4.0.6 in ./anaconda3/lib/python3.6/site-packages (from plotly)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in ./anaconda3/lib/python3.6/site-packages (from requests->plotly)
Requirement already satisfied: idna<2.7,>=2.5 in ./anaconda3/lib/python3.6/site-packages (from requests->plotly)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in ./anaconda3/lib/python3.6/site-packages (from requests->plotly)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.6/site-packages (from requests->plotly)
Requirement already satisfied: ipython_genutils in ./anaconda3/lib/python3.6/site-packages (from nbformat>=4.2->plotly)
Requirement already satisfied: traitlets>=4.1 in ./anaconda3/lib/python3.6/site-packages (from nbformat>=4.2->plotly)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in ./anaconda3/lib/python3.6/site-packages (from nbformat>=4.2->plotly)
Requirement already satisfied: jupyter_core in ./anaconda3/lib/python3.6/site-packages (from nbformat>=4.2->plotly)
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [67]:
df=pd.read_excel('AMZN.xlsx')

In [68]:
df.head()

,date,open,close,low,high,volume,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,2016-01-04,672.32,672.32,627.51,639.10,69804,46122,639.316,0
1,2016-01-05,638.05,646.91,627.65,634.25,44335,28307,634.859,0
2,2016-01-06,623.77,639.79,618.64,635.20,40167,26239,631.691,0
3,2016-01-07,620.55,630.00,605.21,606.00,54784,35669,616.488,0
4,2016-01-08,617.05,624.14,606.00,608.36,42130,27620,614.969,0

In [69]:
df['Price'] = (df['open']+df['close'])/2

In [70]:
df.head()

,date,open,close,low,high,volume,Unnamed: 6,Unnamed: 7,Unnamed: 8,Price
0,2016-01-04,672.32,672.32,627.51,639.10,69804,46122,639.316,0,672.320
1,2016-01-05,638.05,646.91,627.65,634.25,44335,28307,634.859,0,642.480
2,2016-01-06,623.77,639.79,618.64,635.20,40167,26239,631.691,0,631.780
3,2016-01-07,620.55,630.00,605.21,606.00,54784,35669,616.488,0,625.275
4,2016-01-08,617.05,624.14,606.00,608.36,42130,27620,614.969,0,620.595

In [71]:
ptl.tools.set_credentials_file(username='rbh7', api_key='idrYJvKKdnWlmxsqnPcT')
#df['date'] = pd.to_datetime(df['date'], format= "%Y-%b-%dd %H:%M:%S")
data = [Bar(x=df.date,
            y=df.Price)]

py.iplot(data, filename='jupyter-basic_bar')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~rbh7/0 or inside your plot.ly account where it is named 'jupyter-basic_bar'

In [73]:

# Create a trace
trace = go.Scatter(
    x = df.date,
    y = df.Price
)

data = [trace]

py.iplot(data, filename='date-price')

In [74]:

# Create a trace
trace2 = go.Scatter(
    x = df.date,
    y = df.volume
)

data = [trace2]

py.iplot(data, filename='date-volume')